<p style="text-align: left; font-size: 18px; font-family: Roboto; color: #555555;padding-top: 2.5em; padding-bottom: 0.625em;">
  Hello,
</p>

<p style="text-align: left; font-size: 18px; font-family: Roboto; color: #555555;">
    You recently requested to reset your Helpmate account password. You can do this through the link below.
</p>

<div style="text-align: left; font-size: 14px; font-family: Roboto; color: #555555;">
    Click <a href="http://localhost:3000/reset-password">here</a> to change your password.
</div>

<p style="text-align: left; font-size: 14px; font-family: Roboto; color: #555555;">
  <a>
    <B><i>
      If you didn't request this, please ignore this email.
    </B></i>
    <p  style="text-align: left; font-size: 14px; font-family: Roboto; color: #555555;">
        Note: If you are unable to click on the link above, please copy and paste it into your browser's address bar.
        Your password won't change until you access the link above and create a new one.
    </p>
  </a>
</p>